div.circulos{
    text-align: center;
}
div.circulos div{
    height: 100px;
    width:100px;
    font-size: 50px;
    border-radius: 50px;
    line-height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    display: inline-block;

}
div.circulos div.c1{
    float:left;
}
div.circulos div.c2{
    float:center;
}
div.circulos div.c3{
    float:right;
}