.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
 }
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
div.margen{
    margin-top:100px;
    text-align:center;
}

