
p::first-letter {
    font-size: 3em;
    color:rgb(145, 0, 0);
}
p::first-line{
    color:rgb(145, 0, 0);
    font-family: 'Oldenburg', cursive;
}

p{
    font-family: 'Oldenburg', cursive;
}

li.moneda::after {
    content: " €";
}




