body {
    padding: 50px;
    background-color: beige;
}

h1 {
    text-align: center;
    color: rgb(255, 0, 0);
}

table{
    border:5px solid black;
    padding:2px;
    margin-left:50px;
}

img.gatos{
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
}