body {
    padding: 50px;
}

.a1 {
    float: center;
}

.b1 {
    height: 100px;
    width: 100px;
    margin: 50px;
    font-size: 50px;
    border-radius: 50px;
    line-height: 100px;
    background-color: grey;
    text-align: center;
    display: inline-block;
}
.rojo{
    background-color:red;
}
.gris{
    background-color:grey;
}
#boton1{
    
}