
.nletra{
font-family: 'VT323', monospace;
font-size:30px;
}
.centrado1{
    text-align:center;
    display:inline-block;
    width:100%;
    margin-bottom: 5px;
}
.centrado2{
    margin-top: 5px;
    text-align:center;
    display:inline-block;
    width:100%;
}
#primero{
    color:white;
    display:inline-block;
    width:auto;
    background-color:blue;
}

#segundo{
    color:white;
    display:inline-block;
    width:auto;
    background-color:red;
}

#tercero{
    color:white;
    display:inline-block;
    width:auto;
    background-color:purple;
}

#cuarto{
    color:white;
    display:inline-block;
    width:auto;
    background-color:green;
}