body{
    background-color:black;
}
.contenedor {
    background-image: url("off.jpg");
    background-color: black;
    width: 535px;
    height: 700px;
    background-repeat:no-repeat;
    }
#boton{
    background-image: url("boff.jpg");
    width:90px;
    height: 90px;
    float:center;
    background-color:black;
}

