div {
    width:500px;
    height:250px;
    background-image:url("img/elo.png");
    margin-bottom: 5px;
}
#primera{
    background-size:25%;
}
#segunda{
    background-size:90%;
    background-repeat: no-repeat;
}
#tercera{
    background-size:contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

