h1.fnt-red {
    color: red;
}
.fnt-blue {
color:cyan;
}
#nombre_alumno {
    color: red;
    text-decoration: underline;
}
.parrafo{
    color:blue;
}
.titulo{
    color: blue;
    font-weight: 30px;
    font-style: bold;
}
.texto{
    color: navy;
    font-weight: 15px;
}
.destacado{
    font-weight: bold;
    color:navy;
}

    