form.miformulario {
    padding: 30px 30px 10px 30px;
    border: 1px dashed black;
    width: 330px;
    margin: auto;
}

form.miformulario > label {
    width: 100px;
    display: inline-block;
}

form.miformulario > input {
    width: 200px;
    margin-bottom: 10px;
}

form.miformulario  button {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.form3 label{
    width: 100px;
    display: inline-block;
    color: blue;
    font-weight: bold;
}

.form3 #info input{
    width: 500px;
    margin-bottom: 10px;
    display: inline-block;
}
.form3 #info #cp{
    width:200px;
}
.form3 #info #poblacion{
    width:185px;
}
.form3 #submit{
    width: 250px;
    margin-bottom: 10px;
    display: inline-block;
}

