div.circulos div{
    height: 100px;
    width:100px;
    margin:100px;
    font-size: 50px;
    border-radius: 50px;
    line-height: 100px;
    background-color: rgb(242, 94, 255);
    color: white;
    text-align: center;
    display: inline-block;
}

#boton{
    height: 100px;
    width:100px;
    margin:100px;
    border-radius: 30px;
    font-size: 20px;
    line-height: 100px;
    background-color: rgb(149, 149, 255);
    color: black;
}
